<head>
    <link rel="stylesheet" href="{{ url('theme://css-compiled/attendance-tracker.min.css') }}"/>
</head>

<script type="module" src="{{ url('theme://js/attendance-tracker.js') }}"></script>
<script type="importmap">
    {
      "imports": {
        "@kurkle/color": "./modules/kurkle-color.js"
      }
    }
</script>
<script type="module" src="{{ url('theme://js/attendance-charts.js') }}"></script>
<script type="module" src="{{ url('theme://js/modules/multiselect-dropdown.js') }}" ></script>



<div class="module-content" data-module-id="attendance">

    <div class="columns">
        <div class="column col-md-12 col-6">
            <div id="event-data-container" data-list="{{ getEntries()|raw }}"></div>

            <div class="attendance-container">
                <!-- Header: Dropdown -->
                <div class="dropdown-container">
                    <label for="event-dropdown"></label>
                    <select id="event-dropdown" class="event-dropdown"></select>
                </div>


                <div class="attendance-body">
                    <div class="checkbox-column">
                        <label for="myCheckbox01" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox01">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Brinster, Jonas</span>
                        </label>
                        <label for="myCheckbox02" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox02">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Derbyshirr, Reilly</span>
                        </label>
                        <label for="myCheckbox03" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox03">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Frutig, Patrick</span>
                        </label>
                        <label for="myCheckbox04" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox04">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Haaf, Bastian</span>
                        </label>
                        <label for="myCheckbox05" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox05">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Hötterges, Mattheo</span>
                        </label>
                        <label for="myCheckbox06" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox06">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Imig, Alexander</span>
                        </label>
                        <label for="myCheckbox07" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox07">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Kargoscha, Cyrus</span>
                        </label>
                        <label for="myCheckbox08" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox08">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Kießwetter, Jörg</span>
                        </label>
                        <label for="myCheckbox09" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox09">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Klös, Sascha</span>
                        </label>
                        <label for="myCheckbox10" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox10">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Martens, Jan</span>
                        </label>
                        <label for="myCheckbox11" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox11">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Pfeil, Johannes</span>
                        </label>

                    </div>

                    <div class="checkbox-column">
                        <label for="myCheckbox12" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox12">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Reipold, Pascal</span>
                        </label>
                        <label for="myCheckbox13" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox13">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Reitz, Gerald</span>
                        </label>
                        <label for="myCheckbox14" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox14">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Reitz, Gerrit</span>
                        </label>
                        <label for="myCheckbox15" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox15">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Roth, Florian</span>
                        </label>
                        <label for="myCheckbox16" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox16">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Sandner, Manuel</span>
                        </label>
                        <label for="myCheckbox17" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox17">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Schmidt, Robin</span>
                        </label>
                        <label for="myCheckbox18" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox18">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Tag, Dominik</span>
                        </label>
                        <label for="myCheckbox19" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox19">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Tag, Oliver</span>
                        </label>
                        <label for="myCheckbox20" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox20">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Thiedemann, Alex</span>
                        </label>
                        <label for="myCheckbox21" class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="myCheckbox21">
                            <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"/>
                                <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4"
                                      d="M4 10l5 5 9-9"/>
                            </svg>
                            <span class="checkbox__label">Thiedemann, André</span>
                        </label>

                        <div class="attendance-body__result">Ausgewählt:</div>
                    </div>

                </div>

                <div id="instructor-dropdown-container">
                        <label for="instructor-dropdown">Ausbilder:</label>
                        <select id="instructor-dropdown" class="instructor-dropdown" multiple>
                            <option value="Haaf, Bastian">Bastian Haaf</option>
                            <option value="Tag, Dominik">Dominik Tag</option>
                            <option value="Reitz, Gerald">Gerald Reitz</option>
                            <option value="Tag, Oliver">Oliver Tag</option>
                            <option value="extern">Extern</option>
                        </select>
                </div>

                <div class="attendance-footer">
                    <div class="columns">
                        <div class="column col-md-5 col-4 input-col">
                            <div class="input-container">
                                <label for="startTime-input" class="time-label">Startzeit</label>
                                <input id="startTime-input" class="time" type="text">
                                <label for="endTime-input" class="time-label">Endzeit</label>
                                <input id="endTime-input" class="time" type="text">
                            </div>
                        </div>
                        <div class="column col-md-1 col-1">
                            <div class="input-container">
                                <label id="ue-label" for="ue-input">UE</label>
                                <input id="ue-input" type="number">
                            </div>
                        </div>

                        <div class="column col-md-6 col-7">
                            <button class="button-82-pushable" role="button" id="submitAttendanceButton">
                                <span class="button-82-shadow"></span>
                                <span class="button-82-edge"></span>
                                <span class="button-82-front text">Speichern</span>
                            </button>
                        </div>
                    </div>
                </div>


                </div>
            </div>


        <div class="column col-md-12 col-6">
            <div class="chart-container" style="position: relative; height:50vh;">
                <canvas id="attendance-chart"></canvas>
            </div>

        <div class="columns">
            <div class="column col-md-12 col-xl-9 col-6">
                <div id="summary-card" class="card card-1">
                    <div class="card-header summary-card-header">
                        <h3 id="summary-participants">Mitglieder: 21</h3>
                    </div>

                    <div class="columns">
                        <div class="column col-md-4 col-6">
                            <p>Angebotene Unterrichtseinheiten [UE]:</p>
                        </div>
                        <div class="column summary-card-column col-md-4 col-6">
                            <h3 id="summary-ue">2.7</h3>
                        </div>
                    </div>
                    <div class="columns">
                        <div  class="column  col-md-4 col-6">
                            <p>Durchschnittliche <br> Beteiligung [UE]:</p>
                        </div>
                        <div class="column summary-card-column col-md-4 col-6">
                            <h3 id="summary-mean">2.7</h3>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column col-md-4 col-col-6">
                            <p>Zusatzausbildung (z.b. Planübung) [UE]:</p>
                        </div>
                        <div class="column summary-card-column col-md-4 col-6">
                            <h3>2.7</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>



        </div>

</div>