<head>
    <link rel="stylesheet" href="{{ url('theme://css-compiled/carousel.min.css') }}" />
</head>

{% block javascript %}
    {% do assets.addJsModule('theme://js/carousel.js') %}
{% endblock %}


{% set flex = grav.get('flex') %}
{% set directory = flex.directory('vorstellung') %}
{% set list = directory.collection() %}

{% set grid_size = theme_var('grid-size') %}

<!-- <section class="section pair {{ page.header.class}}">
    <div class="container {{ grid_size }}">
        <div class="row">
             <div class="column col-md-12">
                <div class="carouselDescription">
                    {{ content | raw }}
                </div> -->



                <div class="carousel main-carousel" data-list="{{ list|json_encode() }}">
                    {% for entry in list.filterBy({published: true}) %}
                        <div class="carousel-cell">
                            <div class="top-left"><strong>{{ entry.vorname }}</strong></div>
                            <a
                                    id="{{ entry.vorname }}"
                                    href="user/images/vorstellung-images/{{ entry.picked_image }}"
                                    class="glightbox2"
                                    data-title="<i class='fa-solid fa-user'></i> <strong>{{ entry.vorname }} </strong>"
                                    data-description="<h5 class='descText'><p><strong>Funktion:</strong> {{ entry.funktion|e }}</p></h5><h5 class='descText'><span>
                                    {% if entry.beruf %}<strong>Beruf:</strong> {{ entry.beruf|e }}
                                    </span></h5>
                                    {% endif %}
                                    {% if entry.datum %}
                                    <h5 class='descText'><span><strong>Bei der Feuerwehr seit:</strong> {{ entry.datum|e }}</span></h5>
                                    {% endif %}
                                    {% if entry.beschreibung %}
                                    <h5 class='descText'><span><strong>Über Mich:</strong> {{ entry.beschreibung|e }}</span></h5>
                                    {% endif %}"
                                    data-desc-position="right"
                                    data-type="image"
                                    data-effect="fade"
                                    data-height="auto"
                                    data-zoomable="true"
                                    data-draggable="true"
                            >
                                <i class="fa-solid fa-magnifying-glass magnify"></i>
                            </a>
                            <img src="user/images/vorstellung-images/{{ entry.picked_image }}" alt="bla"/>

                        </div>
                    {% endfor %}
                </div>
            <!-- </div>
        </div>
    </div>
</section> -->
